section.banner.container 
   .banner__item
      h1.banner__header Тестовое задание для 
        span.banner__header-color самого лучшего 
        | верстальщика
      .banner__main-wrapper 
         .banner__main-item 
            h2.banner__main-title Низкий оргвзнос
            .banner__number 
                  span.banner__number-text 30 ₽
                  .banner__circle 
                     svg.banner__circle-item(width='88' height='88' viewbox='0 0 88 88' fill='none' xmlns='http://www.w3.org/2000/svg')
                        circle(opacity='0.3' cx='44' cy='44' r='43.5' stroke='#FF885E')
                     svg.banner__circle-item(width='72' height='72' viewbox='0 0 72 72' fill='none' xmlns='http://www.w3.org/2000/svg')
                        circle(cx='36' cy='36' r='35.5' stroke='#FF885E')
                     svg.banner__circle-item(width='62' height='62' viewbox='0 0 62 62' fill='none' xmlns='http://www.w3.org/2000/svg')
                        circle(cx='31' cy='31' r='31' fill='#FF885E')
            button.banner__button Подать заявку на участие
         .banner__main-item 
           .banner__inner-wrapper
               h3.banner__title Ученикам 
               p.banner__text Конкурс по 16 предметам
               p.banner__text Доступные задания для всех учеников
               p.banner__text Бесплатные дипломы и сертификаты
           .banner__inner-wrapper
              h3.banner__title Учителям
              p.banner__text Бесплатные свидетельства
              p.banner__text Бесплатные благодарности
              p.banner__text Простое участие
   .banner__item-image
      img.banner__image(src='../images/content-image/image1.png' alt='image')