section.filters
    form.filters__form
      .filters__wrapper-select
        .filters__select Любого логотипа
        span.filters__select-arrow
        span.filters__line
        ul.filters__dropdown
          li.filters__dropdown-item Компакт-камера
          li.filters__dropdown-item Беззеркальная
          li.filters__dropdown-item Зеркальная  
          li.filters__dropdown-item  Среднеформатная
      .filters__wrapper-select
        .filters__select Любого бренда
        span.filters__select-arrow
        span.filters__line
        ul.filters__dropdown
          li.filters__dropdown-item Canon
          li.filters__dropdown-item Nikon
          li.filters__dropdown-item Sony
          li.filters__dropdown-item Fujifilm
          li.filters__dropdown-item Samsung
          li.filters__dropdown-item Olympus
      label.filters__label-first(for='') По цене
      input.filters__input(type='text' placeholder='ОТ 500 000')
      input.filters__input(type='text' placeholder='ОТ 25 000 000')
      label.filters__label-second(for='') рублей