section.task-description.container 
   h1.task-description__heading Тестовое задание для самого лучшего верстальщика
   .task-description__main-wrapper 
      .task-description__button-wrapper 
           h2.task-description__title Низкий оргвзнос
           .task-description__circle 
              svg.task-description__outer-ring(width='88' height='88' viewbox='0 0 88 88' fill='none' xmlns='http://www.w3.org/2000/svg')
                 circle(opacity='0.3' cx='44' cy='44' r='43.5' stroke='#FF885E')
              svg.task-description__inner-ring(width='72' height='72' viewbox='0 0 72 72' fill='none' xmlns='http://www.w3.org/2000/svg')
                 circle(cx='36' cy='36' r='35.5' stroke='#FF885E')
              svg.task-description__icon(width='62' height='62' viewbox='0 0 62 62' fill='none' xmlns='http://www.w3.org/2000/svg')
                 circle(cx='31' cy='31' r='31' fill='#FF885E')
            
