- 
    var list = [
    {
       image: '../images/content-image/image 1.png',
       title: 'Canon EOS 5D Mark III Body',
       text: 'Полнокадровая цифровая зеркальная камера, предназначенная для опытных любителей, профессиональных фотографов.',
       iconFirst: '../images/icons/Vector 4.svg',
       price: '3 200,00 руб.',
       iconSecond: '../images/icons/Vector.svg'
    }
    ];