.banner {
    display: flex;
    justify-content: space-between;
    padding-top: 90px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 28px;
      left: -100px;
      display: block;
      width: 230px;
      height: 110px;
      background-image: 
        url(../images/icons/dots.svg), 
        url(../images/icons/rectangle.svg);
      background-position: top right, center left;
      background-size: 113px 89px, 43px 43px;
      background-repeat: no-repeat;
    }
    &__item-image {
      position: relative
    }

    &__item-image::before {
      content: "";
      position: absolute;
      display: block;
      width: calc(100% + 220px);
      height: calc(100% + 90px);
      margin-left: -60px;
      margin-top: -90px;
      background-image: 
        url(../images/content-image/Group.png), 
        url(../images/icons/lines1.svg), 
        url(../images/icons/lines2.svg);
      background-repeat: no-repeat;
      background-size: 581px 579px, 46px 59px, 46px 59px;
      background-position: 170px 140%, 70% 50px, 0px 94%;
    }

    &__image {
      position: relative;
      z-index: 1;
      max-width: 523px;
      height: calc(100% - 20px);
      object-fit: contain;
      margin-top: 20px;
    }

    &__main-wrapper {
      display: flex;
    }

    &__main-wrapper::before {
      content: "";
      position: absolute;
      bottom: 28px;
      left: -300px;
      display: block;
      width: 230px;
      height: 110px;
      background-image: 
        url(../images/icons/rectangle44.svg),
        url(../images/icons/rectangle45.svg);
      background-position: bottom right, bottom right;
      background-size: 30px 30px, 30px 30px;
      background-repeat: no-repeat;
    }

    &__header {
      max-width: 532px;
      font-size: 48px;
      font-weight: 700;
      line-height: 120%;
    
      
      &-color {
        color: var(--color-third);
      }
    }

    &__main-item {
      display: flex;
      flex-direction: column;
      align-items: start;
      margin-top: 64px;
    }

    &__inner-wrapper {
      position: relative;
      padding-left: 65px;
      width: max-content;
    }


    &__inner-wrapper::before {
      content: '';
      display: block;
      position: absolute;
      top: 7px;
      left: 40px;
      height: 130px;
      border-left: 3px solid var(--color-fourth);
    }

    &__main-title {
      font-size: 24px;
      font-weight: 700;
    }

    &__title {
      margin-bottom: 16px;
      font-size: 24px;
      font-weight: 700;
      color: var(--color-second)
    }

    &__text {
      margin-bottom: 16px;
      font-size: 14px;
      font-weight: 600;
    }

    &__number {
      display: inline-block;
      position: relative;
      font-size: 30px;
      padding: 20px;
      margin-top: 15px;

      &:hover .banner__circle {
        animation: pulsate 7s linear infinite;
      }

      &-text {
        position: relative;
        z-index: 1;
      }
    }

    &__circle {
      position: absolute;
      inset: 0; 
      display: grid;
      margin-left: -30px;

      &-item {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        margin: auto;
      }

    }

    &__button {
      width: max-content;
      border-radius: 4px;
      box-shadow: inset 0px -2px 2px 0px rgba(0, 0, 0, 0.25), 0px 0px 30px 0px rgba(255, 222, 0, 0.35);
      background-color: var(--color-third);
      font-size: 16px;
      font-weight: 600;
      padding: 21px 25px;
      margin-top: auto;
      cursor: url('../images/icons/hover.svg'), auto;
    }
    }


@keyframes pulsate {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}