.header {
    margin-top: 27px;
    display: flex;
    align-items: center;
    gap: 80px;

    &__logo {
        display: flex;

        &-icon {
            flex-shrink: 0;
            width: 56px;
            height: 57px;
        }

        &-text {
            padding-top: 10px;
            padding-left: 8px;
            font-size: 24px;
            font-weight: 700;
            color: var(--color-first);
        }
    }

   &__menu-list {
       display: flex;
       flex-grow: 1;
       justify-content: space-between;
   }

   &__menu-item {
      width: 149px;
      text-align: center;
   }

   &__menu-text {
      color: var(--color-first);
      font-size: 14px;
      font-weight: 700;
      
   }

   &__menu-date {
      color: var(--color-second);
      font-size: 14px;
      font-weight: 400;
   }

   &__menu-number {
      color: var(--color-third);
      font-size: 16px;
      font-weight: 700;
      padding-right: 4px;
   }

   &__button {
        flex-shrink: 0;
        width: max-content;
        border: 1px solid var(--color-third);
        border-radius: 4px;
        background-color: var(--color-first);
        font-size: 14px;
        font-weight: 600;
        padding: 15px 25px;
        cursor: url('../images/icons/hover.svg'), auto;

        &:hover {
            background-color: yellow;
        }
   }
}
