@import "variables.scss";

.products {
  &__list {
    padding-top: 23px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 39px;
  }

  &__item-first {
    display: flex;
    width: 564px;
    height: 358px;
    flex: 0 0 calc(50% - 10px); 
    border: 1px solid $color-fourth;
    padding-left: 0px;
  }

  &__item-first:hover {
    border: 1px solid $color-eleventh;
    background-color: $color-eighteenth;
    cursor: pointer;
  }

  &__item {
    padding-left: 0px;
    width: 282px;
    height: 358px;
    box-sizing: border-box;
    flex: 0 0 calc(25% - 10px);
    border: 1px solid $color-fourth;
  }

  &__item:hover {
    border: 1px solid $color-nineteenth;
    background-color: $color-sixteenth;
    cursor: pointer;
  }


  &__wrapper-image {
    width: 50%;
  }

  &__image-first {
    width: 250px;
  }

  &__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 160px;
  }

  &__wrapper-description {
    width: 50%;
  }

  &__heading-first {
    padding-top: 27px;
    color: $color-third;
    font-size: 20px;
  }

  &__heading {
    color: $color-third;
    font-size: 18px;
  }

  &__text-first {
    padding-top: 4px;
    color: $color-tenth;
    width: 252px;
  }

  &__text {
    padding-top: 6px;
    padding-bottom: 30px;
    color: $color-sixth;
    font-size: 14px;
  }

  &__old-price {
    padding-top: 20px;
    color: $color-tenth;
    text-decoration-line: line-through;
  }

  &__new-price {
    color: $color-eleventh;
    font-size: 20px;
  }

  &__price {
    color: $color-second;
    font-size: 20px;
  }

  &__wrapper-price-first {
    padding-top: 10px;
    width: 250px;
    display: flex;
    justify-content: space-between;
  }

  &__wrapper-price  {
    padding-top: 10px;
    width: 242px;
    display: flex;
    justify-content: space-between;
  }
}
