@import "variables.scss";

.task-description {
    &__circle {
      position: absolute;  
    }

    &__icon {
      position: relative;
      right: 51px;
      bottom: 5px; 
    }


    &__inner-ring {
      position: relative;
      left: 20px;
      right: 55px;
    }

    &__outer-ring {
      position: relative;
      left: 103px;
      top: 7px;
      right: 10px;
    }

}

@keyframes rotate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.task-description__button-wrapper:hover .task-description__outer-ring,
.task-description__button-wrapper:hover .task-description__inner-ring,
.task-description__button-wrapper:hover .task-description__icon {
  animation: rotate 10s linear infinite;
}