$font-family: 'PT Sans', sans-serif;
$color-first: #FFFFFF;
$color-second: #325AC0;
$color-third: #333333;
$color-fourth: #DEDEDE;
$color-fifth: #8EACFC;
$color-sixth: #979797;
$color-seventh: #484848;
$color-eighth: #D0D0D0;
$color-ninth: #666666;
$color-tenth: #989898;
$color-eleventh: #FF3D3D;
$color-twelfth: #1F497B;
$color-thirteenth: #265C9A;
$color-fourteenth: #517DAE;
$color-fifteenth: #FFBCBC;
$color-sixteenth: #E8EEFF;
$color-seventeenth: #FBFF3D;
$color-eighteenth: #FFF1F1;
$color-nineteenth: #819DEB;