doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Page Title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2? Family= PT+Sans & Family= Racing+Sans+One & display=swap', rel='stylesheet')
    link(rel='stylesheet', href='./index.css')
  body
   include modules/header.pug
  main 
    include modules/filters.pug 
    include modules/products.pug
    
      
  
  